<?xml version="1.0"?>

<launch>
    <!-- Load the simulation parameters -->
    <rosparam command="load" file="$(find pd_controller)/config/simulation_parameters.yaml"/>

    
    <node name="main_node" pkg="pd_controller" type="steering_car_main_node.py" output="screen">
    </node>

    <node name="trajectory_node" pkg="trajectory" type="trajectory_node.py" output="screen">
    </node>
    
</launch>
