<?xml version="1.0"?>

<launch>
    <!-- Load the simulation parameters -->
    <rosparam command="load" file="$(find trajectory)/config/simulation_parameters.yaml"/>

    <!-- To retrieve OptiTrack data -->
    <arg name="server" default="172.26.213.1"/>
    <node pkg="vrpn_client_ros" type="vrpn_client_node" name="vrpn_client_node" output="screen">
    <rosparam subst_value="true">
        server: $(arg server)
        port: 3883
        frame_id: 1
        broadcast_tf: true
        # Must either specify refresh frequency > 0.0, or a list of trackers to create
        refresh_tracker_frequency: 1.0
        #trackers:
        #- FirstTracker
        #- SecondTracker
    </rosparam>
    </node>
    
    <!-- To retrieve the right orientation 
    <node name="measure_orientation" pkg="steering_car_pd" type="node_get_orientation_from_pose.py" output="screen">
    </node>-->

    <!-- To compute the tracking error for x and y
    <node name="compute_error" pkg="steering_car_pd" type="node_compute_error.py" output="screen">
    </node>-->

    <!-- Run the Main ROS node -->
    <node name="main_node" pkg="steering_car_pd" type="steering_car_controller.py" output="screen">
    </node>

    <node name="trajectory_node" pkg="trajectory" type="trajectory_node.py" output="screen">
    </node>
    
</launch>
